@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-white antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.slate.700') theme('colors.slate.900');
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: theme('colors.slate.900');
}

*::-webkit-scrollbar-thumb {
  background-color: theme('colors.slate.700');
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.slate.600');
}
